body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #2971d6, #9d12f3);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.welcome-video {
    display: block;
    margin: 0 auto; /* Centers horizontally */
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.welcome-section {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full screen height */
}
